-----BEGIN CERTIFICATE-----
MIIFLTCCAxWgAwIBAgIUUhOw/WSVgXQHOOX+xGtEGHe3H2IwDQYJKoZIhvcNAQEL
BQAwHjEcMBoGA1UEAwwTQ3liZXJDYXQtSG9tZUxhYi1DQTAeFw0yNjA3MTEyMTIz
BgNVHQ4EFgQUMixdPI/JwerT/lIkwf4Wk32KvHUwDQYJKoZIhvcNAQELBQADggIB
ALOAW/8Tb1YJqqN2ZRgOJPLISg4v26p3HpS7/WG+30s9MG68mUMylLMaUh2gdew+
9dW7Eqizo59c6YeLCneeXkG7+YyLN0kk2np+WQ4Z48p2EWKd5ZTzqviap6gTp45B
ss5tRLBbS8aexz/g4meuhz7cV0XLdF3EUE+n9O1gK83qtW1MabaQvocyq3Qkg2Xk
gaabMZc6ybUslrLpnCBaoe3Gi8fyfQ+Be2iMFa9/meuGQR7J0TC2urWVWFTzzxDb
exJEWoR0suNbk6PJ5vxZ+ldlMzyFzr7bbhleUnZ/DSibD05oHfyXsZppcRWaNJrw
gduyCQrwCTvpu4AnzrGTr7sDjcU65+kEK9Vz7jsXEpJWl6e1zq/owQvDmlqpkEhY
2VM7MnMB+iSES2gCDFk6Bvhexon+hwxFPmRBhXcdLsFGoaf/WDphJSFzVNLJDTw5
SNvl7QwyyMndl1XXaHd7m/J30ra0U4KhAwoBkTkaXJqlDY7wrOAy/9nAi6oioG6t
ml037wXl7ACW1+wANyoHOA7CIrwWieGfDfUQyKtmAoZE
-----END CERTIFICATE-----
