# Name           Outlet index
HOST01:               1
HOST02:               2
HOST03:               3
POE INJECTOR:         5
SERVER:              10
OUTLET11:            11
SWITCH:              13
OUTLET15:            15
